.layout-news {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  margin: auto;

  .layout-news-body {
    padding-top: 36px;
    padding-bottom: 36px;
    min-height: 100vh;
    max-height: fit-content;
  }
}
.modal-backdrop {
  display: none;
}

.active {
  display: block;
  z-index: 1;
}
