<!-- <button data-bs-toggle="modal" data-bs-target="#notify"></button> -->

<!-- <div
  class="modal fade"
  id="notify"
  tabindex="-1"
  aria-labelledby="notifyLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notifyLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<div
  class="modal fade"
  id="notify"
  tabindex="-1"
  aria-labelledby="notifyLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      <!-- <h5 class="modal-title" id="notifyLabel">Modal title</h5> -->

      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>

      <h2>
        Chúc mừng bạn <br />
        nhận được NFT <br />
        miễn phí 🎉
      </h2>
      <small class="txt__color2"
        >Nhập email của bạn để nhận ngay NFT trong ví. <br />
        Số lượng giới hạn.</small
      >

      <div class="input-email w-100 mt-4">
        <label for="newsletter2" class="visually-hidden"
          >Nhập email của bạn</label
        >
        <input
          id="newsletter2"
          type="text"
          class="form-control"
          placeholder="Nhập email của bạn"
        />
        <div class="image bg__orange" role="button">
          <img src="assets/svgs/Line.svg" alt="icon line" />
        </div>
      </div>
    </div>
  </div>
</div>
