footer {
  background-color: var(--bg23262F);
  color: var(--white);

  .footer-top {
    display: grid;

    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: auto;
    grid-gap: 16px;

    border-bottom: 1px solid var(--text);

    .nav-k {
      .nav-item {
        margin-bottom: 26px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    h5 {
      margin-bottom: 0;
    }

    .flex-center {
      .image {
        width: 32px;
        height: 32px;

        margin-right: 6px;
      }
    }

    .col2 {
      margin-right: 16px;
      .image {
        width: 24px;
        height: 24px;
      }
    }

    .input-email {
      position: relative;
      input {
        height: 48px;
        border: 2px solid var(--text);
        border-radius: 90px;
        background-color: var(--bg23262F);
      }
      .image {
        width: 32px;
        height: 32px;
        padding: 3px;

        border-radius: 50%;
        position: absolute;
        right: 8px;
        top: 8px;
      }
    }

    @media (max-width: 739px) {
      grid-template-columns: 1fr;
      padding-bottom: 0 !important;
      & > div {
        margin-bottom: 16px;
        padding-bottom: 36px;
        border-bottom: 1px solid var(--text);
        &:last-child {
          border-bottom: 0;
        }
      }
    }
    @media (min-width: 740px) and (max-width: 1023px) {
      grid-template-columns: 1fr 1fr;

      & > div {
        margin-bottom: 16px;
      }
    }
    @media (min-width: 1024px) {
    }
  }
}
