:root {
  --bg060714: #060714;
  --bg23262F: #23262f;
  --white: #fff;
  --black: #000;
  --orange: #ff7020;
  --width: 1443px;
  --text: #353945;
  --text2: #777e91;
}

// [data-theme="dark"] {
//   --background: #131b22;
//   --background-paler: #2f363d;
//   --background-violet: rgba(180, 124, 255, 0.24);
//   --background-bold: #262d34;
//   --border: #ffffff1f;
//   --text: #fff;
//   --text-paler: #969696;
//   --record: #fff;
//   --color-icon-call: #000;
// }
// [data-theme="light"] {
//   --background: #ffffff;
//   --background-paler: #ebebeb;
//   --background-violet: rgba(180, 124, 255, 0.24);
//   --background-bold: rgba(238, 238, 238, 1);
//   --border: rgba(33, 33, 33, 0.12);
//   --text: #2b3238;
//   --text-paler: #969696;
//   --record: #000;
//   --color-icon-call: #fff;
// }
